<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
<title>Raket Labs Software</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script th:src="@{js/jquery-3.3.1.min.js}"></script>
<script th:src="@{js/popper.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<style>
#wrapper {
	max-width: 800px;
	margin: auto;
}

@media (max-width: 375px) {
    #wrapper {
        margin-left: 20px;
        margin-right: 20px;
    }
}
</style>
</head>
<body>
<div id="wrapper">
</div>
</body>
</html>
